<% for i in(0..2)  %>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
		      <%= image_tag("img6.jpg", class: 'img-responsive img-rounded', style: 'width:100px;') %>
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae voluptatem optio rerum!.</p>
		      </div>
		    </div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
		      <%= image_tag("img7.jpg", class: 'img-responsive img-rounded', style: 'width:100px;') %>
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae voluptatem optio rerum!.</p>
		      </div>
		    </div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
		      <%= image_tag("img9.jpg", class: 'img-responsive img-rounded', style: 'width:100px;') %>
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae voluptatem optio rerum!.</p>
		      </div>
		    </div>
		</div>
	</div>
</div>
<% end %>