<footer class="footer navbar-inverse">
    <small class="text-center">
        By Oscar Mejia Todos los derechos reservados © 2017 ::.
   </small>
   <nav>
       <ul>
 	<li><%= link_to "Créditos" %></li>
 	<li><a href="http://www.sena.edu.co/">SENA</a></li>
       </ul>
   </nav>
</footer>